NODE_ENV=development
# Infisical Configuration
# Machine Identity credentials for Infisical authentication
INFISICAL_MACHINE_IDENTITY_CLIENT_ID=29aafcd7-7bd2-4f1a-b13f-d60dc1c1cdbd
INFISICAL_MACHINE_IDENTITY_CLIENT_SECRET=fe23556fa35b9af45e17ddd41f29678fd4fc9a62ebd807b946d9aad0fdab1c8e

# Infisical project and environment configuration
INFISICAL_PROJECT_ID=14d3cddd-7efb-4ae1-852c-369e42f39bc4
INFISICAL_ENVIRONMENT=staging
